name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

  schedule:
    - cron: '17 15 * * 4'

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Zig
        uses: goto-bus-stop/setup-zig@v2
        with:
           version: master

      - name: Check formatting
        if: ${{ runner.os != 'Windows' }}
        run: zig fmt --check .

      - name: Run tests
        run: zig build test
